PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL
);
INSERT INTO books VALUES(1,'Clean Code','Robert C. Martin');
INSERT INTO books VALUES(2,'Clean Architecture','Robert C. Martin');
INSERT INTO books VALUES(3,'1984','Orwell');
CREATE TABLE orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_name TEXT NOT NULL,
    total_amount REAL NOT NULL,
    status TEXT NOT NULL
);
INSERT INTO orders VALUES(1,'Nguyen Van A',45.5,'completed');
INSERT INTO orders VALUES(2,'Tran Thi B',120.0,'pending');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('books',5);
INSERT INTO sqlite_sequence VALUES('orders',2);
COMMIT;
